version: "3.8"
services:

  # nginx:
  #   image: nginx:latest
  #   volumes:
  #   - type: bind
  #     source: ./nginx/nginx.conf
  #     target: /etc/nginx/nginx.conf
  #   ports: 
  #   - target: 80
  #     published: 80

  service1:
    build: ./service1
    image: ashleyedge/service1:latest 
    ports: 
    - target: 5000
      published: 5000
      protocol: tcp
    deploy:
        replicas: 2

  service2:
    build: ./service2
    image: ashleyedge/service2:latest 
    ports: 
    - target: 5001
      published: 5001
      protocol: tcp
    deploy:
        replicas: 2

  service3:
    build: ./service3
    image: ashleyedge/service3:latest 
    ports: 
    - target: 5002
      published: 5002
      protocol: tcp
    deploy:
        replicas: 2

  service4:
    build: ./service4
    image: ashleyedge/service4:latest 
    ports: 
    - target: 5003
      published: 5003
      protocol: tcp
    deploy:
        replicas: 2

  database:
    build: ./database
    image: ashleyedge/database
    ports: 
    - target: 3306
      published: 3306
      protocol: tcp
    deploy:
        replicas: 2
    volumes:
    - type: volume
      source: character_db-volume
      target: /var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root

volumes:
  character_db-volume:  