<!DOCTYPE html>
<html lang="en">
<head>
    <title>D&D character generator</title>
</head>
<body background="https://images.unsplash.com/photo-1528458965990-428de4b1cb0d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1870&q=80">
    <div>
         <img src="https://db4sgowjqfwig.cloudfront.net/game_systems/251/assets/357032/DnD5E_Large.png?1407685841" alt="D&D logo" style="height:auto;max-width:100%;">
        <h1 style="color:maroon; text-align: center; text-decoration: underline">Character Generator</h1>
    </div>
    <div>
        <h2 style="color: maroon; text-align: center"> You will play {{ character_race }} {{ character_class }}, who fights using {{ weapon }}.</h2>
        <h3 style="color: maroon; text-align: center">Now that you have your character, it's time to play. The fun of D&D is in playing the game!</h3>
    </div>
    <div>
        <a href="{{ url_for('index')}}"><button style="background-color: red; border-color:maroon">*  New Character   *</button></a>
        <h3> </h3>
        <hr size="3" width="100%" color="red">
    </div>
   <div>
      <h2 style="color: maroon; text-decoration: underline">Past characters</h2>

        {% for character in old_characters %}
        <p style="color: maroon">{{character.id}}A mighty {{character.character_race}} {{character.character_class}}, who fought using {{character.weapon}} and whent on amazing adventure!</p>
        {% endfor %}
    </div>
</body>
<footer><p>© 2021 Ashley Edge.</p></footer>
</html>