- hosts: localhost
  connection: local
  become: true
  tasks:
    - name: "Installing dependencies using APT"
      apt:
        pkg:
        - apt-transport-https
        - ca-certificates
        - curl
        - software-properties-common
        - python3
        - python3-pip
        - python-setuptools

    - name: "Get the docker APT key"
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: "Add the APT repo"
      apt_repository:
        repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu bionic stable"

    - name: "Install docker-ce using APT"
      apt:
        name: docker-ce
        state: latest
        update_cache: true

    - name: "Starting docker"
      service:
        name: docker
        state: started

    - name: "Install docker pip3 package"
      pip:
        executable: pip3
        name: docker

    - name: "Adding user to the docker grpup"
      user:
        name: ashleyedge89
        groups: docker
        append: yes

    - name: "Restart connection to ensure the user can complete docker commands"
      meta: reset_connection